<h1>All Bars</h1>
<% @bars.each do |b|%>
  <div class="table">
    <ul>
      <li><%= link_to b.name, b %></li>
    </ul>
  </div>
<% end %>
<br />
<a class="button" href="bars/new">Add New Bar</a>
<br /><br />
