<h1>Happy People</h1>
<% @users.each do |u|%>
  <ul class="the-list-item">
    <li><%= link_to u.username, u %></li>
  </ul>
<% end %>

<a class="button" href="users/new">Create New User</a>
<br /><br />
