/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .the-list-item {
   margin-right: 10%;
   list-style: none;
 }

 .button {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #666;
    color:#000;
    text-decoration:none;
    transition: background 0.12 ease;
  }

  .bar_links {
    color: rgb(75, 217, 236);
    font-size: 16px;
  }

  * {
  	box-sizing: border-box;
  }
  html {
    height: 100%;
  }

  body {
     padding: 10px;
     width: 40%;
     margin: auto;
     text-align: center;
     background-image: url("https://www.maxim.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1400/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.webp");
	   background-attachment: fixed;
     font-family: 'Helvetica', sans-serif;
   }

   .thebox {
     border: solid #ababab;
     border-radius: 4px;
     background: white;
     opacity: 0.9;
     padding: 10px;
   }

   .sliding {
    height: 50px;
    overflow: hidden;
    position: relative;
   }
   .sliding h3 {
    font-size: 2em;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: sliding 15s linear infinite;
    -webkit-animation: sliding 15s linear infinite;
    animation: sliding 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes sliding {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes sliding {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes sliding {
    0%   {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
    }
    100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
    }
   }
