<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JH</a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><% if session[:user_id] %><%= link_to "My Bars", user_path(session[:user_id]) %><% end %></li>
        <li><a href="/bars">All Bars</a></li>
        <li><a href="/users">Users</a></li>
        <li><%= link_to 'Logout', @user, method: :delete %></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
