<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JH</a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><% if session[:user_id] %><%= link_to "My Bars ðŸ¸", user_path(session[:user_id]) %><% end %></li>
        <li><a href="/bars">All Bars ðŸ¥‚</a></li>
        <li><a href="/users">Users ðŸ‘¥</a></li>
        <li><% if session[:user_id] %><%= link_to 'Logout ðŸšª', @user, method: :delete %><% end %></li>
        <li><% if !session[:user_id] %><%= link_to 'Login ðŸ”‘', login_path %><% end %></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
